  <section class="vl-about-mission-bg sp2">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <div class="row align-items-center">
            <div class="col-lg-6">
              <div class="mision-thumb mb-30">
                <img class="w-100" src="assets/img/about/mission.jpg" alt="">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="mission-content ml-20 mb-30">
                <h2 class="title pb-20">Notre Mission</h2>
                <p class="para pb-16">Promouvoir la citoyenneté active et la culture numérique des jeunes, en leur donnant accès à des informations fiables et à des outils pour s’engager dans leur communauté.</p>
                <p class="para">Nous développons des programmes, ateliers, et contenus interactifs pour stimuler l’éducation civique, le débat et l’innovation sociale.</p>
  
                <div class="icon-list-box pt-20">
                  <ul>
                    <li><span><i class="fa-solid fa-check"></i></span>Favoriser l’engagement et la participation des jeunes</li>
                    <li><span><i class="fa-solid fa-check"></i></span>Offrir un accès facile à des contenus éducatifs et pratiques</li>
                    <li><span><i class="fa-solid fa-check"></i></span>Encourager la collaboration et le partage d’idées</li>
                    <li><span><i class="fa-solid fa-check"></i></span>Soutenir l’innovation et les initiatives locales</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  