<section class="vl-about-mission-bg sp2">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="mision-thumb mb-30">
              <img class="w-100" src="assets/img/about/mission.jpg" alt="" />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="mission-content ml-20 mb-30">
              <h2 class="title pb-20">Notre Mission</h2>
              <p class="para pb-16">
                Le projet se distingue par son double axe d'intervention, à
                savoir
              </p>
              <!-- <p class="para">Nous développons des programmes, ateliers, et contenus interactifs pour stimuler l’éducation civique, le débat et l’innovation sociale.</p> -->

              <div class="icon-list-box pt-20">
                <ul>
                  <li>
                    <span><i class="fa-solid fa-check"></i></span>La
                    sensibilisation et l’éducation sur les thématiques liées à
                    l'intégrité de l’information et une participation citoyenne
                    accrue
                  </li>
                  <li>
                    <span><i class="fa-solid fa-check"></i></span>L’utilisation
                    des nouvelles technologies de l’information et de la
                    communication pour contribuer à l'émergence d'une frange
                    jeune, responsable et consciente sur le plan de la
                    citoyenneté et du comportement numérique.
                  </li>
                  <!-- <li>
                    <span><i class="fa-solid fa-check"></i></span>Encourager la
                    collaboration et le partage d’idées
                  </li>
                  <li>
                    <span><i class="fa-solid fa-check"></i></span>Soutenir
                    l’innovation et les initiatives locales
                  </li> -->
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
