  <section class="vl-about5 sp2">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="vl-about-content">
            <div class="vl-section-title-1 mb-50">
              <h5 class="subtitle">À propos de Logo</h5>
              <h2 class="title">Renforcer la participation citoyenne des jeunes</h2>
              <p>Logo est une initiative visant à promouvoir l’engagement citoyen et la culture numérique des jeunes de 15 à 35 ans au Mali et en Afrique de l’Ouest. À travers notre plateforme numérique interactive, nous connectons, éduquons et inspirons la jeunesse.</p>
            </div>
  
            <div class="row">
              <div class="col-lg-12 col-md-6">
                <div class="vl-sm-thumb mb-30">
                  <img class="w-100" src="assets/img/about/p-j.jpeg" alt="">
                </div>
              </div>
              <div class="col-lg-12 col-md-6">
                <div class="vl-sm-thumb2 mb-30">
                  <img class="w-100" src="assets/img/about/h-a-o-p.jpg" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="vl-about-content2 ml-20">
            <div class="large-thumb mb-30">
              <img class="w-100" src="assets/img/about/t-c.jpg" alt="">
            </div>
            <div class="content mb-30">
              <p class="para">Notre plateforme fournit des contenus pédagogiques, des espaces d’échanges, des outils pratiques et des campagnes de sensibilisation pour permettre aux jeunes de devenir des citoyens engagés et responsables.</p>
  
              <div class="icon-list-box box2">
                <ul>
                  <li><span><i class="fa-solid fa-check"></i></span>Encourager la participation citoyenne</li>
                  <li><span><i class="fa-solid fa-check"></i></span>Renforcer la culture numérique des jeunes</li>
                  <li><span><i class="fa-solid fa-check"></i></span>Favoriser l’innovation et la collaboration</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  