<section class="vl-blog sp2">
  <div class="container">
    <div class="row" *ngIf="!isLoading">
      <ng-container *ngIf="events && events.length > 0; else noEvents">
        <div class="col-lg-5">
          <div
            class="vl-blog-lar-thumb-bg mb-30"
            [style.background-image]="'url(' + getEventImage(events[0]) + ')'"
          >
            <div class="vl-section-title-1">
              <h5 class="subtitle" data-aos="fade-right">Events & programs</h5>
              <h2 class="title text-anime-style-3">{{ events[0]?.titre }}</h2>
              <p class="pb-32" data-aos="fade-right">
                {{ events[0]?.description | slice : 0 : 100 }}...
              </p>
              <div class="btn-area" data-aos="fade-right">
                <a [routerLink]="['/event', events[0]?.id]" class="header-btn1">
                  Voir l'événement
                  <span><i class="fa-solid fa-arrow-right"></i></span>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-2" data-aos="zoom-in-up">
          <div class="event-tabs">
            <ul
              ngbNav
              #nav="ngbNav"
              [(activeId)]="activeId"
              class="nav nav-pills mb-30"
              id="pills-tab"
            >
              <li
                class="nav-item mb-30"
                *ngFor="let event of events | slice : 0 : 3; let i = index"
                [ngbNavItem]="event.id"
              >
                <div class="nav-link" ngbNavLink>
                  <div class="event-tab-content">
                    <div class="subheading">
                      {{ i + 1 }}{{ i === 0 ? "er" : "ème" }} Jour
                    </div>
                    <div class="date-event1">
                      <ul>
                        <li>
                          <span class="date">{{
                            event?.dateDebutEvent | date : "dd"
                          }}</span>
                        </li>
                        <li>
                          <span class="year">
                            {{ event?.dateDebutEvent | date : "MMM" }} <br />
                            {{ event?.dateDebutEvent | date : "yyyy" }}
                          </span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <ng-template ngbNavContent>
                  <div class="vl-single-blog-box mb-20">
                    <div class="row align-items-center">
                      <div class="col-lg-8 col-md-8">
                        <div class="vl-single-blog-box-content">
                          <span class="date">
                            <img
                              src="assets/img/icons/vl-clock-1.1.svg"
                              alt=""
                            />
                            {{ event?.dateDebutEvent | date : "HH:mm" }}
                          </span>
                          <h4 class="title">
                            <a [routerLink]="['/event', event.id]">{{
                              event.titre
                            }}</a>
                          </h4>
                          <a
                            [routerLink]="['/event', event.id]"
                            class="details"
                          >
                            Détails
                            <span><i class="fa-solid fa-arrow-right"></i></span>
                          </a>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-4">
                        <div class="sm-thumb">
                          <a [routerLink]="['/event', event.id]">
                            <img
                              class="w-100 rounded"
                              [src]="getEventImage(event)"
                              alt=""
                            />
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-lg-5 mb-10" data-aos="zoom-in-up">
          <div class="tab-content" [ngbNavOutlet]="nav"></div>
        </div>
      </ng-container>

      <ng-template #noEvents>
        <div class="col-12 text-center py-5">
          <div class="alert alert-secondary border-0 shadow-sm">
            <i class="fa-regular fa-calendar-xmark fa-3x mb-3 text-muted"></i>
            <h3 class="text-dark">Aucun événement prévu</h3>
            <p class="text-muted">
              Revenez bientôt pour découvrir nos prochains programmes.
            </p>
          </div>
        </div>
      </ng-template>
    </div>

    <div *ngIf="isLoading" class="text-center py-5">
      <div class="spinner-border text-primary"></div>
    </div>
  </div>
</section>
