<section class="vl-cta">
    <div class="container">
      <div class="vl-cta-bg" style="background-image: url(./assets/img/footer/f_im.jpeg);">
        <div class="vl-cta-shap dot-shap">
          <img src="assets/img/shape/vl-arow-shap-1.1.png" alt="">
        </div>
        <div class="vl-cta-shap shap-1"><img src="assets/img/shape/vl-cta-1.1.png" alt=""></div>
        <div class="vl-cta-shap shap-2"><img src="assets/img/shape/vl-cta-1.2.png" alt=""></div>
        <div class="row">
          <div class="col-lg-12">
            <div class="vl-cta-content text-center">
              <h2 class="title">Restez connectés à l’innovation</h2>
              <p>
                Rejoignez notre newsletter pour recevoir chaque semaine les dernières tendances du numérique, 
                des conseils tech et des actualités sur le développement web, mobile et cloud.
              </p>
  
              <div class="vl-cta-form text-center mx-auto">
                <form action="#">
                  <input type="email" placeholder="Entrez votre adresse e-mail...">
                  <div class="btn-area vl-cta-btn1">
                    <button class="header-btn1">
                      S’abonner <span><i class="fa-solid fa-arrow-right"></i></span>
                    </button>
                  </div>
                </form>
              </div>
  
              <p class="mt-3 small text-light">
                💡 Pas de spam — uniquement des insights utiles pour rester à la pointe de la technologie.
              </p>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  